<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-5">Edit Address</p>


<form action="/editaddress" method="POST">
  <div class="container mt-5">
    <input type="text" name="id" placeholder="Name" value="{{address.id}}" style="height: 0px; visibility: hidden;" />

    <input type="text" name="name" class="form-control" value="{{address.name}}" />
    <label for="">Mobile</label>
    <input type="text" name="mobile" class="form-control" value="{{address.mobile}}" />
    <label for="">Pincode</label>
    <input type="text" name="pincode" class="form-control" value="{{address.locality}}" />


    <label for="">Home address</label>
    <input type="text" name="address" class="form-control" value="{{address.address}}" />
    <label for="">City</label>
    <input type="text" name="city" class="form-control" value="{{address.city}}" />

    <label for="">State</label>
    <input type="text" name="state" class="form-control" value="{{address.state}}" />


    <button type="submit" class="btn btn-success mt-5 addb">Submit</button>
</form>
<style>
  @media (max-width: 767px) {
    .addb {
      margin-left: 120px;
    }
  }

  @media (min-width: 767px) {
    .addb {
      margin-left: 500px;
    }
  }
</style>