


                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Edit Product</p>
  
       
        <form action="/admin/edit-product/{{pro._id}}" method="POST" enctype="multipart/form-data">
  <div class="container mt-5">
    {{!-- <input type="text" value="{{pro._id}}" name="_id" class="form-control invisible"> --}}
    {{!-- <label for="">Image</label>
          <input type="file" id="form3Example1c" name="Image" class="form-control" placeholder="image" required  />
          <input type="file" id="form3Example1c" name="gallery" class="form-control" placeholder="image" required multiple /> --}}
          
          {{!-- <select name="Subcategory" id="Subcategory" class="form-control">
            <option value=""></option>
            <option value="Sports">Sports</option>
            <option value="Casual">Casual</option>
            <option value="Formal">Formal</option>
          </select> --}}
           <label for="">Product Name</label>
          <input type="text" name="productname" class="form-control" value="{{pro.productname}}" />
          <label for="">Price</label>
           <input type="text" name="price" class="form-control" value="{{pro.price}}"/>
          <label for="">Brand</label>
          <input type="text" name="brand" class="form-control" value="{{pro.brand}}"/>
           
           <label for="">Category</label>
          <select name="category" id="category" class="form-control" >
          
          <option value="{{pro.categoryy}} ">{{pro.category}}</option>
             {{#each result}}
            

              <option value="{{this.category}}">{{this.category}}</option>
            {{/each}}
          </select>
          <label for="">Stock</label>
          <input type="Number" name="stock" class="form-control" value="{{pro.stock}}"/>
          <label for="">Description</label>
          <input type="text" name="description" class="form-control" value="{{pro.description}}"/>

        <label for="">Image</label>
        <div>
          <input type="file" id="form3Example1c" name="image" class="form-control" placeholder="image" required  />
           <img src="/product-images/{{pro.image.filename}}" alt="" style="width: 50px; height: 50px;" id="imgView"></div>
           <label for="">sideImage</label>
          
          <input type="file" id="form3Example1c" name="sideimage" class="form-control" placeholder="image" required multiple />
           {{#each pro.sideimage}}
          <img src="/product-images/{{this.filename}}" alt="" style="width: 50px; height: 50px;" id="imgView">
          {{/each}}
          <button type="submit" class="btn btn-success mt-5">Submit</button>
        </form>  
    </div>
  </div>




