
    <nav class="navbar navbar-light bg-dark ">
    
        <h1 style="color: white;">Admin Panel</h1>
        <a href="/admin" style="color: white;">DashBoard</a>
        <a href="/admin/user-list" style="color: white;">Users</a>
        <a href="/admin/product-list" style="color: white;">Products</a>
        <a href="/admin/category-list" style="color: white;">Category</a>
        <a href="/admin/order-list" style="color: white;">Orders</a>
        <a href="/admin/coupons" style="color: white;">Coupon</a>
        <a href="/admin/banner" style="color: white;">Banner</a>
        <a href="/admin/salesreport" style="color: white;">Sales Report</a>
        <a href="/admin/logout" style="color: rgb(237, 18, 18);">Logout</a>
        <a href=""></a>
     <form class="form-inline" action="#" method="post" >
      <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search here" aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    <br>
 <h1 class="text-center my-5">ORDER LIST</h1>
  <div  class="mx-5">
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Qty</th>
        <th scope="col">User</th>
         <th scope="col">Phone No</th>
        <th scope="col">address</th>
        {{!-- <th scope="col">Price</th> --}}
        <th scope="col">Order Date</th>
         <th scope="col">Status</th>
        <th scope="col">Payment</th>
        <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
   {{#each order}}
      <tr>
        <td >{{this.products.productname}}</td>
        <td>{{this.quantity}}</td>
        <td>{{this.address.name}}</td>
        
        <td>{{this.address.mobile}}</td>
        <td>{{this.address.address}}</td>
        {{!-- <td>{{this.totalPrice}}</td> --}}
        <td>{{this.orderDate}}</td>
     {{#ifEquals this.orderStatus "Pending"}}
            <td class="badge text-bg-warning mt-3">{{this.orderStatus}}</td>
            {{/ifEquals}}
            {{#ifEquals this.orderStatus "shipped"}}
            <td class="badge text-bg-primary mt-3">{{this.orderStatus}}</td>
            {{/ifEquals}}
            {{#ifEquals this.orderStatus "delivered"}}
            <td class="badge text-bg-success mt-3">{{this.orderStatus}}</td>
            {{/ifEquals}}
            {{#ifEquals this.orderStatus "canceled"}}
            <td class="badge text-bg-danger mt-3">{{this.orderStatus}}</td>
            {{/ifEquals}}
            {{#ifEquals this.orderStatus "Return"}}
            <td class="badge text-bg-secondary mt-3">{{this.orderStatus}}</td>
            {{/ifEquals}}
       
         <td>{{this.payment}}</td>
                    {{#ifEquals this.orderStatus "Pending"}}
        <td class="border-dark">
           <div class="dropdown">
                    <button
                      class="btn btn-secondary dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      {{this.orderStatus}}
                    </button>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <a class="dropdown-item"  href="/admin/order-pending/{{this._id}}" >Pendding</a>
                      <a class="dropdown-item" href="/admin/order-shipped/{{this._id}}" >Shipped</a>
                      <a class="dropdown-item" href="/admin/order-delivered/{{this._id}}">Delivered</a>
                      <a class="dropdown-item" href="/admin/order-cancel/{{this._id}}">Cancelled</a>
                    
           
                    </div>
                  </div>
                </td>
                    {{/ifEquals}}
      
       {{#ifEquals this.orderStatus "shipped"}}
        <td class="border-dark">
           <div class="dropdown">
                    <button
                      class="btn btn-secondary dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      {{this.orderStatus}}
                    </button>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                    <a class="dropdown-item" href="/admin/order-delivered/{{this._id}}">Delivered</a>
                    <a class="dropdown-item" href="/admin/order-cancel/{{this._id}}">Cancelled</a>
                    </div>
                  </div>
                </td>
                    {{/ifEquals}}
                    {{#ifEquals this.orderStatus "canceled"}}
        <td class="border-dark">
           <div class="dropdown">
                    <button
                      class="btn btn-secondary "
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                  {{this.orderStatus}}
                    </button>
                    
                  </div>
                </td>
                    {{/ifEquals}}
                    {{#ifEquals this.orderStatus "delivered"}}
        <td class="border-dark">
           <div class="dropdown">
                    <button
                      class="btn btn-secondary "
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                  {{this.orderStatus}}
                    </button>
                    
                  </div>
                </td>
                    {{/ifEquals}}
                     {{#ifEquals this.orderStatus "Return"}}
        <td class="border-dark">
           <div class="dropdown">
                    <button
                      class="btn btn-secondary "
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                  {{this.orderStatus}}
                    </button>
                    
                   
                    </div>
                  </div>
                </td>
                    {{/ifEquals}}
      
      </tr>
      {{/each}}
  </tbody>
</table>

  </div>
  