
<body>
    <!--? Preloader Start -->
    {{!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div> --}}
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="/"><h1>Si<span style="color: #ff2020;">Gag</span></h1></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>                                                
                                <ul id="navigation">  
                                    <li><a href="/">Home</a></li>
                                    <li><a href="">shop</a></li>
                                    <li><a href="">about</a></li>
                                    
                                    {{!-- <li><a href="#">Category</a>
                                        <ul class="submenu">
                                            {{#each categ}}
                                            <li><a href="/categorypage/{{this.category}}">{{this.category}}</a></li>
                                            {{/each}}</ul>
                                    </li>
                                    <li><a href="">Filter</a>
                                    <ul class="submenu">
                                            {{#each categ}}
                                            <li><a href="/categorypage/{{this.category}}">{{this.category}}</a></li>
                                            {{/each}} </ul></li>
                                             <li><a href="">Sort</a>
                                    <ul class="submenu">
                                            {{#each categ}}
                                            <li><a href="/categorypage/{{this.category}}">{{this.category}}</a></li>
                                            {{/each}} </ul></li> --}}
                                            
                                </ul>
                                
                            </nav>
                            
                        </div>
                        <!-- Header Right -->
                        <div class="header-right">
                            <ul>
                                <li>
                                    <div class="favorit-items ml-5" >
                                    <a href='/wishlist' style="color: #ee1111;"><span class="flaticon-heart"></span></a>
                                </div>
                                </li>
                                
                                <li> <a href="/user-login"><span class="flaticon-user"></span></a></li>
                                <li><a href="/cart"><span class="flaticon-shopping-cart"></span></a> </li>
                            </ul>
                        </div>
                    </div>
        </div>

                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        <!-- Header End -->
    </header>
             <h1 class="text-center my-5">SHOP PAGE</h1>         

                <div class="popular-items section-padding10">
                    <div class="container">
                        <!-- Section tittle -->

                        <div class="row">
                       {{#each catgproducts}}
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-popular-items mb-50 text-center">
                                    <div class="popular-img">
                                        <a href="/viewdetail/{{this._id}}"><img style="height: 400px; object-fit: contain;" src="/product-images/{{this.image.filename}}" alt=""></a>
                                        <div class="img-cap">
                                            <a href="/addtocart/{{this._id}}"> <span>Add To Cart</span></a>
                                        </div>
                                        <div class="favorit-items">
                                    <a href="/towishlist/{{this._id}}"><span class="flaticon-heart" style="color: #ff2020;"></span></a>
                                </div>
                                    </div>
                                    <div class="popular-caption">
                                        <h3><a href="">{{this.productname}}</a></h3>
                                        <h4>Category:{{this.category}}</h4>
                                        <span>MRP : {{this.price}}</span>
                                    </div>
                                </div>
                            </div>  {{/each}}
                            
                          
                        </div>

                    </div>
                </div>



        </section>

    </main>
</body>