
    <nav class="navbar navbar-light bg-dark ">
    
        <h1 style="color: white;">Admin Panel</h1>
        <a href="/admin" style="color: white;">DashBoard</a>
        <a href="/admin/user-list" style="color: white;">Users</a>
        <a href="/admin/product-list" style="color: white;">Products</a>
        <a href="/admin/category-list" style="color: white;">Category</a>
        <a href="/admin/order-list" style="color: white;">Orders</a>
        <a href="/admin/coupons" style="color: white;">Coupon</a>
        <a href="/admin/banner" style="color: white;">Banner</a>
        <a href="/admin/salesreport" style="color: white;">Sales Report</a>
        <a href="/admin/logout" style="color: rgb(237, 18, 18);">Logout</a>
        <a href=""></a>
    <form class="form-inline" action="/admin/producrsearch" method="post" >
      <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search here" aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>

    <h1 class="text-center mt-5">PRODUCT LIST</h1>
<nav class="navbar navbar-light bg-light mt-4">
    <br>
   
    {{!-- <form class="form-inline mb-2" action="#" method="post" >
      <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search here" aria-label="Search">
      <button class="btn_1 btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
      </form> --}}
       <a href="/admin/add-product"><button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Add Product</button></a>
  </nav>
  

  <div class="mx-5">
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Image</th>
        <th scope="col">Product Name</th>
         <th scope="col">Price</th>
        <th scope="col">Brand</th>
        <th scope="col">Category</th>
        <th scope="col">Stock</th>
        <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each product}}
      <tr>
        <td><img style="height:  30px; width:30px;" src="/product-images/{{this.image.filename}}" alt=""></td>
        <td>{{this.productname}}</td>
        <td>{{this.price}}</td>
        <td>{{this.brand}}</td>
        <td>{{this.category}}</td>
       <td>{{this.stock}}</td>
        <td>{{this.description}}</td>
        <td> {{#if this.block}}
                
                  <a class="btn btn-success" href="/admin/unlistproduct/{{this._id}}">UnList</a>
                {{else}}
               
                   <a class="btn btn-danger" href="/admin/listproduct/{{this._id}}">List Product</a>
                {{/if}}
              </td>
    <td><a href="/admin/editproduct/{{this._id}}" class="btn_1 btn-outline-dark">Edit Product</a>
     {{/each}}
      
  </tbody>
</table>
  </div>
  