
    
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <h1>Si<span style="color: #ff2020;">Gag</span></h1>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>                                                
                                <ul id="navigation">  
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">shop</a></li>
                                  
                                    <li><a href="#">Pages</a>
                                        <ul class="submenu">
                                            <li><a href="/user-login">Login</a></li>
                                            <li><a href="/cart">Cart</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li><a href="">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Right -->
                        <div class="header-right">
                            <ul>
                                <li>
                                    <div class="nav-search search-switch">
                                        <span class="flaticon-search"></span>
                                    </div>
                                </li>
                                <li> <a href="/user-login"><span class="flaticon-user"></span></a></li>
                                <li><a href="/cart"><span class="flaticon-shopping-cart"></span></a> </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
       
     
            {{#each details }}
            <div class="row justify-content-center" style="padding-top: 100px;">
                
                <div class="col-md-6" style="padding-left: 200px;">
               
                    <div class="single_product_img">
                       <div class="wrap-pic-w pos-relative" id="zoom-image">
                        <img src="/product-images/{{this.products.image.filename}}" alt="#" class="img-fluid">
                    </div>
                    </div>
                    
                    
                </div>
                <div class="col-md-6">
                    
                <div class="single_product_text  pt-5">
                    <h2>{{this.products.productname}}</h2>
                    <p>{{this.products.description}} </p>
                    <h5>Brand:{{this.products.brand}}</h5>
                    <h5>Category:{{this.products.category}}</h5>
                    <h5>Price:{{this.products.price}}</h5>
                    <h5>Address:{{this.address.address}}</h5>
                    <h5>Order Date: {{this.orderDate}}</h5>
                    <h5>Order Status: {{this.orderStatus}}</h5>
                    
                    <div class="card_area">
                        
                    <div class="add_to_cart">
                        {{!-- {{#if this.cancel}}
                        {{else}}
                        <a href="/ordercancel/{{this._id}}" class="btn btn-dark">Order Cancel</a>
                        {{/if}}
                        <a href="orderreturn/{{this._id}}" class="btn btn-dark ">Return Order</a> --}}
                        {{#unless this.cancel}}
                          <a href="/ordercancel/{{this._id}}" class="btn btn-primary cancel">Cancel Order</a>
						  {{/unless}}
						  {{#if this.returnstatus}}
						  <a href="/orderreturn/{{this._id}}" class="btn btn-primary cancel">Return Order</a> 
						 {{/if}}
                    </div>
                    </div>
                </div>
                
                </div>
          
            </div>
            
            {{/each}}
            
   
       


